{% extends 'web/base.html' %}

{% block title %}Citas{% endblock %}

{% load static %}
{% block content%} 
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Citas</h3>
          {{ form.errors }}
          <p>
            <label>Nombre(s):</label>
            <input type="text" name="first_name" required
              id="id_first_name" class="form-control" placeholder=""/>
          </p>
          <div class="row">
            <div class="col-lg-6">
              <div class="grid-container">
                <p>
                  <label>Apellido Paterno:</label>
                  <input type="text" name="last_name" required
                  id="id_last_name" class="form-control" placeholder=""/>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="grid-container">
                <p>
                  <label>Apellido Materno:</label>
                  <input type="text" name="last_name_m"
                  id="id_last_name_m" class="form-control" placeholder=""/>
                </p>
              </div>
            </div>
          </div>
          <p>
            <label>Correo electronico:</label>
            <input type="email" name="email" required id="id_email" class="form-control" placeholder="nutri@example.com">
          </p>
          <div class="row">
            <div class="col-lg-6">
              <div class="grid-container">
                  <p>
                    <label>Telefono:</label>
                    <input type="text" name="phone"
                      id="phone" class="form-control" placeholder=""/>
                  </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="grid-container">
                  <p>
                    <label>Fecha y hora:</label>
                    <input type="datetime-local" name="date" required id="date" class="form-control" value="2008-05-13T22:33:00">
                  </p>
              </div>
            </div>
          </div>
          <p>
              <label>Comentario:</label>
              <textarea name="commentary" id="commentary"class="form-control" rows="3" ></textarea>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block" value="Agendar una Cita"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

