{% extends 'web/base.html' %}

{% block title %}Citas{% endblock %}

{% load static %}

{% block content%} 
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Citas</h3>
          {{ form.errors }}
          <p>
            <label>Nombre(s):</label>
            <input type="text" name="first_name" required
              id="id_first_name" class="form-control" value="{{ request.user.first_name }}" readonly/>
          </p>
          <div class="row">
            <div class="col-lg-6">
              <div class="grid-container">
                <p>
                  <label>Apellido Paterno:</label>
                  <input type="text" name="last_name" required
                  id="id_last_name" class="form-control" value="{{ request.user.last_name }}" readonly/>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="grid-container">
                <p>
                  <label>Apellido Materno:</label>
                  <input type="text" name="last_name_m"
                  id="id_last_name_m" class="form-control" value="{{ request.user.profile.last_name_m }}" readonly/>
                </p>
              </div>
            </div>
          </div>
          <p>
            <label>Correo electronico:</label>
            <input type="email" name="email" required id="id_email" class="form-control" value="{{ request.user.email }}" readonly>
          </p>
          <div class="row">
            <div class="col-lg-4">
              <div class="grid-container">
                  <p>
                    <label>Telefono:</label>
                    <input type="text" name="phone"
                      id="id_phone" class="form-control" value="{{ request.user.profile.phone }}"/>
                  </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="grid-container">
                  <p>
                    <label>Fecha:</label>
                    <input type="date" name="date" id="id_date" class="form-control" required>
                  </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="grid-container">
                  <p>
                    <label>Hora:</label>
                    <select name="hour" id="id_hour" class="form-control bmg-hrs-mins-input"></select>
                  </p>
              </div>
            </div>
          </div>
          <p>
            <label>Comentario:</label>
            <textarea name="commentary" id="id_commentary"class="form-control" rows="3" ></textarea>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block" value="Agendar una Cita"></p>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  var today = new Date().toISOString().split('T')[0];
  document.getElementsByName("date")[0].setAttribute('min', today);
  
  $(document).ready(function() {
  var hr=['08','09','10','11','12','13','14','15','16','17','18','19'];
  var mi=['00','30'];
  for( i=0;i<hr.length;i++){
    $("#id_hour").append('<option val="' + hr[i]  + ':' + mi[0] + '">'+ hr[i] + ':' + mi[0] + '</option>');									
    $("#id_hour").append('<option val="' + hr[i]  + ':' + mi[1] + '">' + hr[i] + ':' + mi[1] + '</option>');
  }})
</script>
{% endblock %}

