{% extends 'core/base.html' %}
{% load static %}

{% block message %}
<script>
    function eliminarPesoCorregido(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Eliminar",
            "confirmButtonColor":"#ff4f70"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/formula/lista-pesocorregido/delete/"+id
            }
        });
    }
</script>
{% endblock %}

{% block title %}Peso Corregido{% endblock %}
{% block links %}<link href="{% static 'core/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Calculos Peso Corregido</h4>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Peso Corregido</th>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pesocorregido in lista_pesocorregido %}
                                <tr>
                                    <td>{{ pesocorregido.client.user.first_name }} {{ pesocorregido.client.user.last_name }}</td>
                                    <td>{{ pesocorregido.corrected_weight|floatformat:-2 }}</td>
                                    <td>{{ pesocorregido.created }}</td>
                                    <td>
                                        <!--<a class="btn btn-warning" href="{% url 'eliminar_calculo_pesocorregido' pesocorregido.id %}"><i class="fa fa-check"></i></a>-->
                                        <a class="btn btn-danger" href="#" onclick="eliminarPesoCorregido({{ pesocorregido.id }})"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Peso Corregido</th>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'core/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static 'core/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/dist/js/pages/datatable/datatable-basic.init.js' %}"></script>
{% endblock %}