{% extends 'core/base.html' %}
{% load static %}

{% block title %}Dieta{% endblock %}
{% block links %}
  <link href="{% static '/lib/select2-4.0.13/css/select2.css' %}" rel="stylesheet"/>
  <link href="{% static '/lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
  <script src="{% static '/lib/select2-4.0.13/js/select2.js' %}"></script>
{% endblock %}
{% block content %}
<strong>Dieta</strong>
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 mx-auto mb-5">
                <form action="" method="post">{% csrf_token %}
                <h3 class="mb-4">Dieta</h3>
                {{ form.errors }}
                <p>
                    <label>Cliente:</label>
                    {{ form.client }}
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <label>Verduras:</label>
                            {{ form.vegetables }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Frutas:</label>
                            {{ form.fruits }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Leche descremada:</label>
                            {{ form.skim_milk }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Leche semidescremada:</label>
                            {{ form.low_fat_milk }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <label>Cereales y Tuberculos (s/g):</label>
                            {{ form.cereals_and_tubers_s }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Cereales y Tuberculos (c/g):</label>
                            {{ form.cereals_and_tubers_c }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Leguminosas:</label>
                            {{ form.legumes }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Leche entera:</label>
                            {{ form.whole_milk }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <label>Azucares s/g:</label>
                            {{ form.sugars_s }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Azucares c/g:</label>
                            {{ form.sugars_c }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Proteinas AOA mbg:</label>
                            {{ form.protein_mbg }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Proteinas AOA bg:</label>
                            {{ form.protein_bg }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <label>Aceites y grasas s/p:</label>
                            {{ form.oils_and_fats_s }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Aceites y grasas c/p:</label>
                            {{ form.oils_and_fats_c }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Proteinas AOA mg:</label>
                            {{ form.protein_mg }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label>Proteinas AOA ag:</label>
                            {{ form.protein_ag }}    
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <table style="width:80%">
                    <tr>
                        <td>
                            <p class="text-center">
                                <label>Kcal Carbohidratos:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="kcal_carbohidratos" id="id_kcal_carbohidratos">
                                <label id="kcal_carbohidratos"></label>
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                <label>Kcal Proteinas:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="kcal_proteinas" id="id_kcal_proteinas">
                                <label id="kcal_proteinas"></label>
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                <label>Kcal Lipidos:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="kcal_lipidos" id="id_kcal_lipidos">
                                <label id="kcal_lipidos"></label>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center">
                                <label class="text-center">Distribucion Carbohidratos:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="distribucion_carbohidratos" id="id_distribucion_carbohidratos">
                                <label id="distribucion_carbohidratos"></label>
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                <label>Distribucion Proteinas:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="distribucion_proteinas" id="id_distribucion_proteinas">
                                <label id="distribucion_proteinas"></label>
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                <label>Distribucion Lipidos:</label>
                            </p>
                            <p class="text-center">
                                <input type="hidden" name="distribucion_lipidos" id="id_distribucion_lipidos">
                                <label id="distribucion_lipidos"></label>
                            </p>
                        </td>
                    </tr>
                    </table>
                    <div class="mt-5 ml-5">
                        <p class="text-center">
                            <label class="control-label h3">Kcal TOTAL:</label>
                        </p>
                        <p class="text-center h1">
                            <input type="hidden" name="kcal_total" id="id_kcal_total">
                            <label id="kcal_total"></label>
                        </p>
                    </div>
                </div>
                <p></p><input type="submit" class="btn btn-primary btn-block" value="{{ action }}"></p>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('.select2').select2({
        theme:'bootstrap4'
        });
    });
   
    function calcular(){
        var totalg_carbohydrates = (Number($("#id_vegetables").val()) * 4) + (Number($("#id_fruits").val()) * 15) + 
                                (Number($("#id_cereals_and_tubers_s").val()) * 15) + (Number($("#id_cereals_and_tubers_c").val()) * 15) + 
                                (Number($("#id_legumes").val()) * 20) + (Number($("#id_protein_mbg").val()) * 0) + 
                                (Number($("#id_protein_bg").val()) * 0) + (Number($("#id_protein_mg").val()) * 0) + 
                                (Number($("#id_protein_ag").val()) * 0) + (Number($("#id_skim_milk").val()) * 12) + 
                                (Number($("#id_low_fat_milk").val()) * 12) + (Number($("#id_whole_milk").val()) * 12) + 
                                (Number($("#id_oils_and_fats_c").val()) * 3) + (Number($("#id_oils_and_fats_s").val()) * 0) + 
                                (Number($("#id_sugars_c").val()) * 10) + (Number($("#id_sugars_s").val()) * 10);
        
        var totalg_protein = (Number($("#id_vegetables").val()) * 2) + (Number($("#id_fruits").val()) * 0) + 
                                (Number($("#id_cereals_and_tubers_s").val()) * 2) + (Number($("#id_cereals_and_tubers_c").val()) * 2) + 
                                (Number($("#id_legumes").val()) * 8) + (Number($("#id_protein_mbg").val()) * 7) + 
                                (Number($("#id_protein_bg").val()) * 7) + (Number($("#id_protein_mg").val()) * 7) + 
                                (Number($("#id_protein_ag").val()) * 7) + (Number($("#id_skim_milk").val()) * 9) + 
                                (Number($("#id_low_fat_milk").val()) * 9) + (Number($("#id_whole_milk").val()) * 9) + 
                                (Number($("#id_oils_and_fats_c").val()) * 3) + (Number($("#id_oils_and_fats_s").val()) * 0) + 
                                (Number($("#id_sugars_c").val()) * 0) + (Number($("#id_sugars_s").val()) * 0);
        
        var totalg_lipids = (Number($("#id_vegetables").val()) * 0) + (Number($("#id_fruits").val()) * 0) + 
                                (Number($("#id_cereals_and_tubers_s").val()) * 0) + (Number($("#id_cereals_and_tubers_c").val()) * 5) + 
                                (Number($("#id_legumes").val()) * 1) + (Number($("#id_protein_mbg").val()) * 1) + 
                                (Number($("#id_protein_bg").val()) * 3) + (Number($("#id_protein_mg").val()) * 5) + 
                                (Number($("#id_protein_ag").val()) * 8) + (Number($("#id_skim_milk").val()) * 2) + 
                                (Number($("#id_low_fat_milk").val()) * 4) + (Number($("#id_whole_milk").val()) * 8) + 
                                (Number($("#id_oils_and_fats_c").val()) * 5) + (Number($("#id_oils_and_fats_s").val()) * 5) + 
                                (Number($("#id_sugars_c").val()) * 5) + (Number($("#id_sugars_s").val()) * 0);

        var kcal_carbohidratos = totalg_carbohydrates * 4;
        var kcal_proteinas = totalg_protein * 4;
        var kcal_lipidos = totalg_lipids * 9;
        var kcal_total = kcal_carbohidratos + kcal_proteinas + kcal_lipidos;  

        if (kcal_total !== 0){
            $("#kcal_carbohidratos").text(kcal_carbohidratos);
            $("#kcal_proteinas").text(kcal_proteinas);
            $("#kcal_lipidos").text(kcal_lipidos);
            $("#distribucion_carbohidratos").text(((kcal_carbohidratos*100)/kcal_total).toFixed(2));
            $("#distribucion_proteinas").text(((kcal_proteinas*100)/kcal_total).toFixed(2));
            $("#distribucion_lipidos").text(((kcal_lipidos*100)/kcal_total).toFixed(2));

            $("#id_kcal_carbohidratos").val(kcal_carbohidratos);
            $("#id_kcal_proteinas").val(kcal_proteinas);
            $("#id_kcal_lipidos").val(kcal_lipidos);
            $("#id_distribucion_carbohidratos").val(((kcal_carbohidratos*100)/kcal_total).toFixed(2));
            $("#id_distribucion_proteinas").val(((kcal_proteinas*100)/kcal_total).toFixed(2));
            $("#id_distribucion_lipidos").val(((kcal_lipidos*100)/kcal_total).toFixed(2));

            $("#kcal_total").text(kcal_carbohidratos + kcal_proteinas + kcal_lipidos);
            $("#id_kcal_total").val(kcal_carbohidratos + kcal_proteinas + kcal_lipidos);
        } else {
            $("#kcal_carbohidratos").text(0);
            $("#kcal_proteinas").text(0);
            $("#kcal_lipidos").text(0);
            $("#distribucion_carbohidratos").text(0);
            $("#distribucion_proteinas").text(0);
            $("#distribucion_lipidos").text(0);

            $("#kcal_total").text(kcal_carbohidratos + kcal_proteinas + kcal_lipidos);
        }
    }

    $(function(){
        calcular();
		$("input").change(calcular);
	});
</script>
{% endblock %}