{% extends 'core/base.html' %}
{% load static %}

{% block title %}GER{% endblock %}

{% block links %}
  <link href="{% static '/lib/select2-4.0.13/css/select2.css' %}" rel="stylesheet"/>
  <link href="{% static '/lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
  <script src="{% static '/lib/select2-4.0.13/js/select2.js' %}"></script>
{% endblock %}

{% block content %}
<strong>Calculo del requerimiento energético en reposo</strong>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">GER y GET</h3>
          {{ form.errors }}
          <p>
            <label>Cliente:</label>
            {{ form.client }}
          </p>
          <p>
            <label>Genero:</label>
            <select class="form-control mr-sm-2" name="gender" id="id_gender">
              <option selected>Elegir...</option>
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
            </select>
          </p>          
          <p>
            <label>Estilo de Vida:</label>
            <select class="form-control mr-sm-2" name="lifestyle" id="id_lifestyle">
              <option selected>Elegir...</option>
              <option value="1">Sedentario</option>
              <option value="2">Activo</option>
              <option value="3">Vigoroso</option>
            </select>
          </p>
          <p>
            <label>Peso (kg):</label>
            <input type="number" name="weight" id="id_weight" class="form-control" step="0.01" min="0">
          </p>
          <p>
            <label>Estatura (cm):</label>
            <input type="number" name="size" id="id_size" class="form-control" step="0.01" min="0">
          </p>
          <p>
            <label>Edad (años):</label>
            <input type="number" name="age" id="id_age" class="form-control" min="0">
          </p>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center">
                <label class="control-label h3">GER:</label>
              </p>
              <p class="text-center h1">
                  <label id="id_ger"></label>
              </p>
            </div>
            <div class="col-md-6">
              <p class="text-center">
                <label class="control-label h3">GET:</label>
              </p>
              <p class="text-center h1">
                  <label id="id_get"></label>
              </p>
            </div>
          </div>
          <p><input type="submit" class="btn btn-primary btn-block" value="Calcular"></p>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('.select2').select2({
      theme:'bootstrap4'
    });
  });

  $(function(){
		$("input").change(function(){
			var peso = Number($("#id_weight").val());
			var estatura = Number($("#id_size").val());
			var edad = Number($("#id_age").val());
			var genero = document.getElementById("id_gender").value;
			var estilovida = document.getElementById("id_lifestyle").value;
			
      var ger = 0
      var get = 0 
      if (genero){
        if (genero==='1'){
          ger = (9.99 * peso) + (6.25 * estatura) - (4.92 * edad) + 5
          $("#id_ger").text((ger).toFixed(2));
        } else if (genero==='2'){
          ger = (9.99 * peso) + (6.25 * estatura) - (4.92 * edad) - 161
          $("#id_ger").text((ger).toFixed(2));
        }
      }else{
        $("#id_ger").text(0);
      }

      if (estilovida){
        if (estilovida==='1'){
          get = ger * 1.545
          $("#id_get").text((get).toFixed(2));
        } else if (estilovida==='2'){
          get = ger * 1.845
          $("#id_get").text((get).toFixed(2));
        } else if (estilovida==='3'){
          get = ger * 2.2
          $("#id_get").text((get).toFixed(2));
        }
      }else{
        $("#id_get").text(0);
      }
		});
	});
</script>
{% endblock %}