{% extends 'web/base-index.html' %}
{% load static %}
{% block content %}
<div class="col-md-4 mx-auto mb-5 mt-3">
  {% if 'register' in request.GET %}
    <div class="alert alert-success" role="alert">
      Usuario registrado correctamente.
    </div>
  {% endif %}
  <form action="" method="post">{% csrf_token %}
    <h3 class="mb-4">Iniciar sesión</h3>
    {% if form.non_field_errors %}
      <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
    {% endif %}
    <p>
      {{ form.email.label }}
      <input type="text" name="email" autofocus maxlength="254" required
        id="id_email" class="form-control" placeholder=""/>
    </p>
    <p>
      {{ form.password.label }}
      <input type="password" name="password" required
        id="id_password" class="form-control" placeholder=""/>
    </p>
    
    <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
  </form>
  <p>¿Ha olvidado su clave? Pueda restaurarla <a href="{% url 'password_reset' %}">aqui</a></p>
</div>
{% endblock %}